//Footer style
.autoCenter {
    margin: 0 auto;
}
.bbBody {
    font-size: 12px;
    text-align: center;
}
.ssBottomBar {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}
#ssBbInner {
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 8px;
}
//Search page pagination button
.gsc-cursor-page {
	font-size: 1.5em;
	padding: 4px 8px;
	border: 2px solid #ccc;
}